In [1]:
import psycopg2
from sql_queries import create_table_queries, drop_table_queries

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
conn.set_session(autocommit=True)
cur = conn.cursor()

In [5]:
def drop_tables(cur, conn):
    """
    Drops each table using the queries in `drop_table_queries` list.
    """
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [6]:
drop_tables(cur, conn)

In [3]:
def create_tables(cur, conn):
    """
    Creates each table using the queries in `create_table_queries` list. 
    """
    for query in create_table_queries:
        print(query)
        cur.execute(query)
        conn.commit()

In [7]:
create_tables(cur, conn)

CREATE TABLE songplays (songplay_id  VARCHAR(255), start_time VARCHAR(255), user_id VARCHAR(255), level VARCHAR(255), song_id VARCHAR(255), artist_id VARCHAR(255), session_id VARCHAR(255), location VARCHAR(255), user_agent VARCHAR(255))
CREATE TABLE users (user_id VARCHAR(255), first_name VARCHAR(255), last_name VARCHAR(255), gender VARCHAR(255), level VARCHAR(255))
CREATE TABLE songs (song_id VARCHAR(255), title VARCHAR(255), artist_id VARCHAR(255), year VARCHAR(255), duration VARCHAR(255))
CREATE TABLE artists (artist_id VARCHAR(255), name VARCHAR(255), location VARCHAR(255), latitude VARCHAR(255), longitude VARCHAR(255))
CREATE TABLE time (start_time VARCHAR(255), hour VARCHAR(255), day VARCHAR(255), week VARCHAR(255), month VARCHAR(255), year VARCHAR(255), weekday VARCHAR(255))

In [9]:
cur.execute("INSERT INTO songplays (songplay_id,start_time) VALUES('1','56')")

In [20]:
cur.execute("SELECT * FROM songplays")
lt_set = cur.fetchall()
print(lt_set)

# for row in lt_set:
#     print("%s, %s". % (row["songplay_id"], row["start_time"])

[('1', '56', None, None, None, None, None, None, None)]